@import "../node_modules/bulma/sass/utilities/initial-variables";
$black: #000;
$grey: #4a5059;

$text-strong: $black;
$text: $grey;
$red: #ec3750;

@mixin backgroundShorthand($imgpath, $position: 0 0, $repeat: repeat) {
  background: transparent url(#{$imgpath}) $repeat $position;
}
.landing {
  @include backgroundShorthand("./Img/Taieri.svg");
}
a.navlink.has-text-black:hover {
  color: $red !important;
}

@import "../node_modules/bulma/bulma";
